/* COLORS:
   --primary-blue: rgb(27,41,88)
   --secondary-teal: rgb(106, 197, 176)
   --soft-gray-bg: #f7f7f7
   --border-light: #e7e7e7
*/

body {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

header {
    flex-grow: 0;
    flex-shrink: 0;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #e7e7e7;
}

main {
    flex-grow: 1;
    flex-basis: calc(100vh - 106px);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f7f7f7;
    padding: 20px 20px;
}

footer {
    flex-grow: 0;
    flex-shrink: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #e7e7e7;
    font-size: 0.8em;
    color: #666;
    padding: 2px 20px;
}

footer a {
    color: rgb(27,41,88);
    text-decoration: none;
    transition: color 0.3em ease;
}

footer a:hover {
    color: rgb(106, 197, 176);
}

menu {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

menu .nav-link {
    padding: 0 0.8em;
    color: rgb(27,41,88);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

menu .nav-link:hover {
    color: rgb(106, 197, 176);
}